<head>

{% load static %}

<style>
	
	ul {
	display:none
    }
	
	label {
	width:200px;
	display:inline-block;
	text-align:left;
	}
</style>

<link rel="stylesheet" href="{% static 'weather_byte_app/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'weather_byte_app/style.css' %}"   />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="body-login">
	<div class="container-fluid">
		<div class="row justfiy-content-start">
			<div class="col-4 offset-md-4 bg-primary mt-5 rounded-5 text-center">
				<div class="col-2 offset-md-2 pt-5" >
					<h1> Registration </h1>
					{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}
					<form action ="{% url 'weather_byte_app:login' %}" method=post>
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" name="register" value = "Register" class="btn-primary"></input>
				</div>
			</div>
		</div>
	</div>
</body>
